/.idea/
/Client -  Android/.gradle/
/Client -  Android/.idea/
/Server/node_modules/
/Client - Corvoda/package-lock.json
/Client - Corvoda/plugins/
/Client - Corvoda/platforms/
/Server/package-lock.json
